---
layout: "post"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .magazine-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.magazine-carousel img {
  max-width: 100%;
  height: auto;
}

.magazine-map {
  margin-bottom: 30px;
}

.magazine-map embed {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  margin-left: -100px;
}
    </style>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{content}}
  </body>
</html>
